<h1> Add a Provider to the Schedule</h1>
<ul>
    <li><a href="{% url 'resource_app:add_provider' %}">Click Here to Add a Provider</a></li>
</ul>
<h1>View a Provider's Schedule</h1>
    {% if object_list %}
        <ul>
            {% for provider in object_list %}
                <li><a href="{% url 'resource_app:provider_detail' provider.epic_id %}">{{ provider.prov_lname }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No providers are available.</p>
    {% endif %}